<html>
  <head>
  <style>
   body {
     background-image: url({{ url_for('static', filename='sponge.png')}});
     background-repeat: repeat;
     background-attachment: fixed;
     background-size: contain;
   }
  </style>
   <link rel="stylesheet" href="{{ url_for('static',filename='styles/detail.css') }}">
   <title>Video Streaming </title>
  </head>
   <body>
    <h1>Casa do Julio</h1>
    <img src="{{ url_for('video_feed') }}" id="over">
    <div class="linha">
      <div>
        <h2>Temp {{tem}}</h2>
      </div>
      <div>
        <ul>
          <li>Julio</li>
          <li>Chamuça e Chamuço </li>
          <li>Neons e Cardinais </li>
        </ul>
      </div>
    </div>
    </body>
</html>
